iframe {
  width: 1920px;
  height: 1080px;
}

div {
  width: 1920px;
  height: 1080px;
}

.divNone {
  display: none;
}

.divOSC {
  background:url(../img/osc-tokyo.png);
}

.divAshiras {
  background:url(../img/Ashiras.png);
}
